* {-webkit-box-sizing: border-box; box-sizing: border-box; }
:root {--main: #5029b4; }
/* ======= GENERAL ====== */
::-webkit-input-placeholder {font-family: open sans; }
:-ms-input-placeholder {font-family: open sans; }
::placeholder {font-family: open sans; }
body {font-family: roboto, open sans, Arial, Helvetica, sans-serif; background-color: #13beef; color: #232323; text-align: center; margin: 0; }
body main {background: white; margin: 2.5vmin /* before was vw */; padding: 4% 5.5vw; border-radius: 5px}
details {border: solid #dadada 1px; border-radius: 5px; padding: 5px; outline-offset: 3px; }
summary {margin: 5px; }
summary:focus {outline-offset: 1rem; outline: none}
summary:hover {cursor: pointer; }
a,input[type=submit] {cursor: pointer; }
small {max-width: 500px; display: block}
/*------ Text styling -----*/
h1,h2,h3 {font-family: "Ubuntu", roboto, open sans; }
h1 {font-size: 3em;font-size: calc(3rem + .8vmin); margin: 10px}
h2 {font-size: 2em;font-size: calc(1.5em + .75vmin); margin-top: 0}
h3 {font-size: calc(1.18rem + .6vmin)}
strong{color:#343434}
p,label,.text {font-size: 1.1rem;font-size: calc(.95rem + .6vmin); text-align: left;color:#434343}
a {text-decoration: none; }
/* style any link without class */
:not(.gist-meta)> a:not([class]) {position: relative; -webkit-transform: translate(0px); transform: translate(0px); color: black}
:not(.gist-meta)> a:not([class])::after {content: ""; height: 2.3px; background-color: #5f02b6; position: absolute; right: 2px; left: 2px; bottom: 1px; display: block; -webkit-transition: .3s; transition: .3s; z-index: -1; }
:not(.gist-meta)> a:not([class]):hover {color: white}
:not(.gist-meta)> a:not([class]):hover::after {-webkit-transform: scale(1.08, .9); transform: scale(1.08, .9); height: 100%; left: 0; right: 0; bottom: 0; }
/* ======= Style Templates ====== */
.chip {padding: .33em 1.75em; display: inline-block; background: #1dc750; color: white; border-radius: 50px; margin: 10px auto; }
.chip:hover {letter-spacing: 1px; text-shadow: white 0px 0px 8px; -webkit-transition: .3s; transition: .3s}
.cta {padding: 1em 2em; display: inline-block; border: 0; -webkit-box-shadow: 2px 2px 8px 0px #0000002c; box-shadow: 2px 2px 8px 0px #0000002c}
.cta:hover {-webkit-transition: .5s; transition: .5s; padding: 1.2em 2em; letter-spacing: 1px}
.cta.big {background: #ff50f6; color: #f9f9f9; font-size: 1.1rem; border-radius: 5px; }
.cta.small {background: #5de9f8; color: #323232; border-radius: 5px; -webkit-box-shadow: 3px 2px 0px 0px #0000002e; box-shadow: 3px 2px 0px 0px #0000002e}
.cta:active {-webkit-box-shadow: none; box-shadow: none}
.ghost {color: var(--main); border: var(--main) 2px solid; padding: .8em 2em; border-radius: 4px; -webkit-transition: all .3s ease-in-out, -webkit-transform .2s ease-in; transition: all .3s ease-in-out, -webkit-transform .2s ease-in; transition: all .3s ease-in-out, transform .2s ease-in; transition: all .3s ease-in-out, transform .2s ease-in, -webkit-transform .2s ease-in; display: inline-block; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; outline:none}
.ghost:hover, .ghost:focus {background-color: var(--main); color: white; border: var(--main) 2px solid; padding: .8em 2em; border-radius: 4px; -webkit-transform: translate(0px, -5px); transform: translate(0px, -5px); -webkit-box-shadow: 0px 2px 8px 0px #0000002c; box-shadow: 0px 2px 8px 0px #0000002c}
.ghost:active {-webkit-transform: translate(0px, 0px); transform: translate(0px, 0px)}
.seamless {padding: 10px; border: none; display: inline-block; border-radius: 3px; font-size: .9rem; min-width: 200px; width: 45%}
textarea.seamless {width: 90%; height: 10rem; font-size: 1rem; font-family: open sans; display: block; resize: vertical}
.icon {margin: 10px; outline: none}
.icon svg {width: 3rem; height: 3rem; -webkit-filter: grayscale(1); filter: grayscale(1); -webkit-transition: .05s linear; transition: .05s linear}
.icon:hover svg, .icon:focus svg {-webkit-filter: none; filter: none}
.center>p, .center {text-align: center}
.menu-container {cursor: pointer;height: calc((3 * .3rem) + .8rem + .5rem);display: inline-block;position:fixed;top:5.5vh;right:5.5vh;z-index: 3;}
:root{
    --size:.36rem
}
#menu {width: calc(3rem + .65vw);height: var(--size);background: #dcdcdc;display: block;position: relative;top: 44%}
#menu::after,#menu::before {content: "";display: block;width: 100%;height: var(--size);background: inherit;transition: .5s}
#menu::before {transform: translateY(-.9rem)}
#menu::after {transform: translateY(calc(.9rem - var(--size)))}

#menu.x {background:0;}
#menu.x::after, #menu.x::before {background: #ffffff;}
#menu.x::before {transform: translateY( calc( .3rem / 2 ) ) rotatez(45deg)}
#menu.x::after {transform: translateY(calc( -.3rem / 2 )) rotatez(-45deg)}

#nav{height: 100vh;overflow: auto;display:block;position:fixed;top:0;right: 0;background:#60dcff;z-index: 2;box-shadow: -2px 0 7px #00000030;transition: transform .5s;transform: translateX(102%);padding:15vmin 9.5vmax 0;font-size:1.2rem}
#nav h2{margin-bottom:0;}
#nav h2:not(:last-child){margin-bottom:8vmin;}
#nav h2 a{color:#ffffff;position:relative; transition:.2s ease}
#nav h2 a:hover,#nav h2 a:focus{color:#323232;outline:none}
#nav h2 a:before {content: "";position: absolute;width: 100%;height: 3.4px;bottom: 0;left: 0;background: #323232;visibility: hidden;border-radius:0 0 5px 5px;transform: scaleX(0);transition: .25s cubic-bezier(0.1, 0.4, 0.6, 0.9);}
#nav h2 a:hover:before,
#nav h2 a:focus:before {visibility: visible;transform: scaleX(1.1);}
.menu-container.x ~ #nav{transform: translateX(0);}
/* ======= Inner Styling ====== */
/* intro */
.top {margin: 7vh auto;max-width:55rem}
.top p:not(:first) {text-align: justify; margin: 1rem}
/* outro btw */
.botton{max-width: 700px;margin:auto}
/* Informative Sections */
.info {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-flow: wrap; flex-flow: wrap; -ms-flex-negative: 0; flex-shrink: 0; -webkit-box-flex: 2; -ms-flex-positive: 2; flex-grow: 2; margin: calc(18vmin + 1rem) 0; }
.info>a {width: 430px; -webkit-box-flex: 1; -ms-flex-positive: 1; flex-grow: 1; height: 350px; overflow: hidden; display: block; background: #04bb75; /* margin: 10px auto; */
 border-radius: 5px; background-size: cover}
 .header-link{color:#323232}
.info:nth-of-type(1) .peek { background-image: url(images/index.png); }
.info:nth-of-type(2) .peek { background-image: url(images/js.png); }
.info:nth-of-type(3) .peek { background-image: url(images/css.png); }
.AboutMe {width: 365px; margin: 1rem; margin-right: 0; -webkit-box-flex: 1.5; -ms-flex-positive: 1.5; flex-grow: 1.5; }
/*------ Floating Pages -- Skill set section -----*/
.float_page {z-index:4;
    -webkit-font-smoothing: subpixel-antialiased;
    display: none; width: calc(100vw - (2 * 5.5vw) - 5vmin); height: 90vh; overflow-y: hidden; background: white; position: fixed; top: 5vh; border-radius: 5px; -webkit-animation: 1s slideIn forwards; animation: 1s slideIn forwards; -webkit-box-shadow: 0 0 12px #00000036; box-shadow: 0 0 12px #00000036; padding: 30px auto}
.float_page>* {opacity: 0; -webkit-animation: 0.5s 1s inside forwards; animation: 0.5s 1s inside forwards; }
.float_page>div {padding: 1rem 2.5rem; overflow-y: auto; height: 100%; text-align: left; font-family: open sans}
.float_page .img {width: 100%; height: 50vh; background: #000027b9; border-radius: 5px; }
.close {z-index:50;position: fixed; background: #f0f0f0; padding: 1em; top: 7vh; right: 5vw; display: none; border-radius: 50%; color: #323232; line-height: .6; font-weight: bold; }
.float_page:target~.close {opacity: 0; -webkit-animation: inside 2.5s 1s forwards; animation: inside 2.5s 1s forwards; display: block; -webkit-transition: .3s; transition: .3s; }
.float_page:target~.close:hover {background: #ff6c6c; color: white}
/*------ Contact section -----*/
.email {background: #f7f7f7; max-width: calc(700px + 3vw); margin: auto; -webkit-animation: .5s appear forwards ease-in; animation: .5s appear forwards ease-in; padding: 1rem}
.email>* {margin: 5px auto}
.options {display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -ms-flex-flow: wrap; flex-flow: wrap; padding: 1rem; }
/* ------- About me Page ------ */
#truu{float:right;width:25vmax;height:55vh;min-width:500px;background:blueviolet;margin:.5rem 1rem;display:block;border-radius:5px;}
.list li p {margin: 1rem}
li a h3 {display: inline-block; margin: auto 1rem}
/*------ Footer Page -----*/
/* there's nothing here yet ;-;*/
/* footer.links {display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-flow: wrap; flex-flow: wrap; color: white; }
footer.links .links {margin: auto; padding: 0 2rem; color: #ffffff} */
/*------ Portifolio -----*/
:root{
    --red:#ff5858;
    --blue:#7BE7FF;
    --yellow:#FEF85E;
    --green:#A4EA78;
    --icon:var(--blue);
    --image:var(--yellow);
    --website:var(--green);
    --prototype:var(--red);
}
/* postContainer and posts before the grid rule down there! */
.postContainer{display:flex;flex-flow:wrap;flex-grow: 2;margin-left: 2.5vmin}
.post{
    display:inline-block;
    border-radius: 5px;
    background:white;
    margin:0 2.5vmin 2.5vmin 0;
    width:500px;
    flex-grow: 2;
    color:inherit;
    box-shadow: 2px 2px 7px #00000030;

}
.post .img{
    width:100%;
    height:280px;
    display:block;
    object-fit: cover;
    object-position: top
}

.post h2{margin:1rem auto;position:relative;z-index:1;}
.post p{margin:1rem}
.post h2::before{
    content:"";
    display:block;
    position:absolute;
    top:2px;
    bottom:0;
    left:1rem;
    border-radius:50%;
    height:2rem;
    width:2rem;
    z-index: -1;;
    transition:.1s;
    color:transparent;
    font-size:1.6rem
}
.post h2:hover::before{color:#323232}
.post.icon h2::before{background:var(--icon);content:"Icon";}
.post.website h2::before{background:var(--website);content:"Website"}
.post.image h2::before{background:var(--image);content:"Image"}
.post.prototype h2::before{background:var(--prototype);content:"Prototype"}
/*------ Chips -----*/
.filterChip{
    padding:.3rem .7rem;
    padding-right:0;
    background:#f1f1f1;
    display: inline-block;
    border-radius: 23px;
    cursor: pointer;
    user-select: none;
    transition:ease-in .15s;
    margin:.25rem
}
.filterChip::after{
    content:"\FF0B";
    display:inline-block;
    border-radius:50%;
    background:#00000030;
    font-size: 1rem;
    padding:.1rem .35rem;
    margin:0 .35rem;
    transition: .3s;
    transform: rotate(calc(45deg * 3))
}
.filterChip.website{background:var(--website);}
.filterChip.prototype{background:var(--prototype)}
.filterChip.image{background:var(--image)}
.filterChip.icon{background:var(--icon)}
.filterChip.x{background:#f1f1f1;}
.filterChip.x::after{transform: none}
/*------ New tab Switch -----*/
.newTab{-webkit-appearance: none;outline:none;background:#dfdfdf;border-radius:10px;position:relative;height:1.25rem;width:3rem;display:inline-block;margin:0;vertical-align: bottom;transition: .2s}
.newTab.on{background: #52cbe0}
.newTab::after{content:"";background:white;border-radius:50%;position:absolute;left:0%;height:1.25rem;width:1.25rem;display:block;transform:scale(1.05);box-shadow: 0px 0px 3px #00000063;transition: .2s}
.newTab.on::after{left:calc(100% - 1rem)}

.hide{display:none !important}
/* ======= Media Queries & Animation Section ====== */
/*------ animating tags -----*/
a.hide {-webkit-animation: .8s smoo forwards ease-out; animation: .8s smoo forwards ease-out}
:target {display: block}
@-webkit-keyframes slideIn {0% {-webkit-transform: scaleX(0) scaleY(.008); transform: scaleX(0) scaleY(.008); }
 50% {-webkit-transform: scaleX(1) scaleY(.008); transform: scaleX(1) scaleY(.008); }
 100% {-webkit-transform: scaleY(1) scalex(1); transform: scaleY(1) scalex(1) translate3d( 0, 0, 0)
    ; -webkit-font-smoothing: antialiased;
}
}
@keyframes slideIn {0% {-webkit-transform: scaleX(0) scaleY(.008); transform: scaleX(0) scaleY(.008); }
 50% {-webkit-transform: scaleX(1) scaleY(.008); transform: scaleX(1) scaleY(.008); }
 100% {-webkit-transform: scaleY(1) scalex(1); transform: scaleY(1) scalex(1) translate3d( 0, 0, 0); -webkit-font-smoothing: antialiased; }
}
@-webkit-keyframes inside {0% {opacity: 0 }
 100% {opacity: 1 }
}
@keyframes inside {0% {opacity: 0 }
 100% {opacity: 1 }
}
@supports(display: grid) {
    .info {display: grid; grid-template-columns: 1.1fr 1fr; grid-column-gap: 3%; justify-items: stretch }
    .AboutMe {margin: 0 0; width: 100% }
    .info>a {width: 100%;}
    .postContainer{
        display:grid;
        grid-template-columns:repeat(auto-fill,minmax(47vw, auto));
        grid-gap:1rem;
        margin: 2.5vmin
    }
    .post{
        width: auto;
        margin:0;
    }
    @media (max-width: 1030px) {
        .info {grid-template-columns: 1fr; }
        .seamless {display: block; min-width: initial; width: 90% }
        #truu{ float: none; width: auto; border-radius: 0; min-width: auto; }
        .float_page {width: calc(95vw - 2.5vh); height: 95vh;top: 2.5vh;right:2.5vh;animation: 1s slideIn forwards;border-radius: 0}
    }
    /* MIN BREAKDOWN IN 420!!!! */
}

/*------ Animations -----*/
@-webkit-keyframes smoo {0% {opacity: 1; -webkit-transform: translate(0, 0); transform: translate(0, 0); z-index: 2 }
 50% {opacity: 1; -webkit-transform: translate(0, -80px); transform: translate(0, -80px); z-index: -1 }
 100% {opacity: .2; -webkit-transform: translate(0, 0); transform: translate(0, 0); visibility: hidden; display: none; }
}
@keyframes smoo {0% {opacity: 1; -webkit-transform: translate(0, 0); transform: translate(0, 0); z-index: 2 }
 50% {opacity: 1; -webkit-transform: translate(0, -80px); transform: translate(0, -80px); z-index: -1 }
 100% {opacity: .2; -webkit-transform: translate(0, 0); transform: translate(0, 0); visibility: hidden; display: none; }
}
@-webkit-keyframes appear {0% {-webkit-transform: translate(0, -80px) scale(.8); transform: translate(0, -80px) scale(.8); opacity: .3 }
 100% {-webkit-transform: translate(0, -50px) scale(1); transform: translate(0, -50px) scale(1); opacity: 1; }
}
@keyframes appear {0% {-webkit-transform: translate(0, -80px) scale(.8); transform: translate(0, -80px) scale(.8); opacity: .3 }
 100% {-webkit-transform: translate(0, -50px) scale(1); transform: translate(0, -50px) scale(1); opacity: 1; }
}
