* {
    box-sizing: border-box;
    color: #232323}
/* ======= GENERAL ====== */
::placeholder {
    font-family:open sans;
}

body {
    font-family: quicksand, open sans, Arial, Helvetica, sans-serif;
    background-color: #13beef;
    text-align: center;
    margin: 0;
}
body main {
    background: white;
    margin: 2.5vw;
    padding: 4% 9%;
    /* padding-bottom: 5vh; */
    border-radius: 5px}
details {
    border: solid #dadada 1px;
    border-radius: 5px;
    padding: 5px;
    outline-offset: 3px;
}
summary {
    margin: 5px;
}
summary:focus {
    outline-offset: 1rem;
    outline: none}
summary:hover {
    cursor: pointer;
}
a, input[type=submit]{
    cursor: pointer;
}
small{max-width:500px;display:block}
 /*------ Text styling -----*/
 h1, h2, h3 {
    font-family: "Ubuntu", quicksand, open sans;
}
 h1 {
    font-size: 3em;
    margin: 10px }
 h2 {
    font-size: 2em;
    margin-top: 0 }
 p  {font-size:1rem;text-align: left}
 a {
    text-decoration: none;
    color: #5f02b6 }
/* ======= Style Templates ====== */
.chip {
    padding: .33em 1.75em;
    display: inline-block;
    background: #c4f03f;
    color: white;
    border-radius: 50px;
    margin: 10px auto;
}
.cta{
    padding: 1em 2em;
    display:inline-block;
    border: 0;
    box-shadow: 3px 2px 0px 0px #0000006e}
.cta.big {
    background: #F57FFF;
    color: white;
    font-size: 1.1rem;
    border-radius: 2px;}
.cta.small {
    background: #5de9f8;
    color: #323232;
    border-radius: 5px;
    box-shadow: 3px 2px 0px 0px #0000002e}
.cta:active{box-shadow:none}
.seamless{padding:10px;border:solid #ddd 1px;display:inline-block;border-radius:3px;font-size:.9rem;min-width: 200px;width: 45%}
textarea.seamless{width:90%;height:10rem;font-size:1rem;font-family:open sans;display:block}
.icon{margin:10px}
.icon svg{width:3rem;height:3rem;filter:grayscale(1);transition:.05s linear}
.icon:hover svg{filter: none}
.center>p{text-align: center}
    
/* ======= Inner Styling ====== */

 /* intro */
 .top {
    max-width: 700px;
    margin: 7vh auto;
    text-align: center;
}
 .top p{text-align: center}
 .top:first-of-type p {
    text-align: justify;
    margin: 1rem }

 /* Informative Sections */
 .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    flex-shrink: 0;
    flex-grow: 2;
    margin: 25vh 0;}
 .info>a {
    width: 430px;
    flex-grow: 1;
    height: 350px;
    overflow: hidden;
    display: block;
    background: #04bb75;
    /* margin: 10px auto; */
    border-radius: 5px;
    background-size: cover
    }
 .info:nth-of-type(1) .peek {
    background-image: url(images/index.png);
}
 .info:nth-of-type(2) .peek {
    background-image: url(images/js.png);
}
 .info:nth-of-type(3) .peek {
    background-image: url(images/css.png);
}
 .AboutMe {
    width: 365px;
    margin: 1rem;
    margin-right: 0;
    flex-grow: 1.5;
}

/*------ Floating Pages -- Skill set section -----*/
.float_page{
    display:none;
    width: calc(100% - (2 * 9%) - 5vw);
    height: 90vh;
    overflow-y: hidden;
    background: white;
    position: fixed;
    top: 5vh;
    border-radius: 5px;
    border: .5px solid #cecece;
    animation: 1s slideIn forwards;
    box-shadow: 0 0 12px #00000036;
    padding: 30px auto}
.float_page>* {
    opacity: 0;
    animation: 0.5s 1s inside forwards;
}
.float_page>div {
    padding: 1rem 2.5rem;
    overflow-y: auto;
    height: 100%;
    text-align: left;
    font-family: open sans}
.float_page .img {
    width: 100%;
    height: 50vh;
    background: #000027b9;
    border-radius: 5px;
}
.close {
    position: fixed;
    background: #f0f0f0;
    padding: 1em;
    top: 7vh;
    right: 5vw;
    display: none;
    border-radius: 50%;
    color: #323232;
    line-height: .6;
    font-weight: bold;
}

.float_page:target ~ .close {
    opacity: 0;
    animation:inside 2.5s 1s forwards;
    display: block;
    transition:.3s;
}
.float_page:target ~ .close:hover {
background:#ff6c6c;
color:white 
}


/*------ Contact section -----*/
.email{
    background: #f7f7f7;
    /* width: 50vw; */
    max-width: calc(700px + 3vw);
    margin: auto;
    animation: .5s appear forwards ease-in;
    padding: 1rem
}
.email>* {
    margin: 5px auto
}
.options{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding: 1rem;
}

/* ------- About me Page ------ */
.presentation li p{margin:1rem}
li a h3{display:inline-block;margin:auto 1rem}

/* ======= Media Queries & Animation Section ====== */
/*------ animating tags -----*/
a.hide{animation: .8s smoo forwards ease-out}
:target{display: block}

@keyframes slideIn {
    0% {
    transform: scaleX(0) scaleY(.008);
}
 50% {
    transform: scaleX(1) scaleY(.008);
}
 100% {
    transform: scaleY(1) scalex(1);
}
}
@keyframes inside {
    0% {
    opacity: 0 }
 100% {
    opacity: 1 }
}
@supports(display:grid){
    .info{
        display:grid;
        grid-template-columns:1.1fr 1fr;
        grid-column-gap: 3%;
        justify-items: stretch
    }
    .AboutMe{
        margin:0 0;
        width:100%
    }
 .info>a {
width: 100%;
 }
    @media (max-width: 1030px) {
        .info{
            grid-template-columns:1fr;
        }
    }
}
/*------ Animations -----*/
@keyframes smoo {
    0% {
        opacity: 1;
        transform: translate(0, 0);
        z-index: 2
    }

    50% {
        opacity: 1;
        transform: translate(0, -80px);
        z-index: -1
    }

    100% {
        opacity: .2;
        transform: translate(0, 0);
        visibility: hidden;
        display: none;

    }
}

@keyframes appear {
    0% {
        transform: translate(0, -80px) scale(.8);
        opacity: .3
    }

    100% {
        transform: translate(0, -50px) scale(1);
        opacity: 1;
    }
}